html {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

header {
  background-color: #0abde3;
  padding: 0 20px;
}

#logo {
  width: 100%;
  max-width: 600px;
}

.container {
  flex: 1 0 auto;
  padding: 20px;
}

h2 {
  font-size: 2em;
  font-weight: 300;
}

.soon {
  background-color: #ee5253;
  color: white;
  padding: 5px 20px;
  border-radius: 2px;
  margin-top: 10px;
}

.recursos-lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px 0;
}

.recursos-item {
  width: 100%;
  max-width: 250px;
  margin: 10px;
}

#mc_embed_signup input {
  width: 100%;
  max-width: 600px;
  font-size: 2em;
  font-weight: 300;
  text-align: center;
}

#mc_embed_signup .button {
  font-size: 1em;
  width: 200px;
  padding: 6px 10px 8px;
  margin-top: 10px;
  background-color: #10ac84;
  color: white;
  border: 0;
  border-radius: 2px;
}

footer {
  flex-shrink: 0;
  padding: 20px;
  background-color: #576574;
  color: white;
}
